{% extends '@MagentaCBookAdmin/Book/read-book.html.twig' %}
{% block nav_title %}
    {{ parent() }}
    {% set chapter = mainContentItem %}
    {#<div class="dropdown subchapter-nav" id="chapter-{{ chapter.listNumber }}-nav">#}
    {#<a href="#" class="btn-neutral dropdown-toggle" data-toggle="dropdown">#}
    {#<span class="spy-subchapter-navtitle">{{ chapter.name }}</span>#}
    {#<b class="caret"></b>#}
    {#</a>#}
    {#<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
    {#<li class="dropdown-header">Choose sub-chapter</li>#}
    {#{% for ii, sub in chapter.subChapters %}#}
    {#<a class="sub dropdown-item" href="#chapter-{{ sub.listNumber }}" id ="{{ sub.listNumber }}">{{ sub.listNumber }}. {{ sub.name }}</a>#}
    {#{% endfor %}#}
    {#</ul>#}
    {#</div>#}
{% endblock %}
{% block content_title %}
    <span id="chapter-{{ mainContentItem.listNumber }}">
    {{ parent() }}
</span>
{% endblock %}
{% block pagination %}
    {% set chapter = mainContentItem %}
    <h2>next chapter is {{ chapter.nextChapter is not empty?chapter.nextChapter.name:'NONE' }}</h2>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item">
            <a class="page-link" href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
{% endblock %}